.features {
    padding: 2%;
}

/* .status-message {
    border-color: black;
    border-style: solid;
    width: 100%;
    padding: auto 5px;
    text-align: center;
} */

#game-div {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    text-align: center;
    background-color:whitesmoke;
}

.game-window {
    margin: auto;
}

.grid-col {
    margin: 0 auto;
    display: inline-block;
}

.tag {
    position: absolute;
    margin: auto;
}

.img-tag {
    position: absolute;
    margin: 0;
    z-index: 1;

}

.play-area {
    background-color:#dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.slide-area {
    background-color:grey;
    opacity: 1;
}

